{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать по
            <a href="{% url "catalog" %}?sort=name">
            названию</a>
            <a href="{% url "catalog" %}?sort=min_price">
            стоимости</a>
            {# Здесь должен быть раздел с сортировкой #}
        </div>

        <div class="content">
            <table width="800">
                <tr>
                     {% for phone in phones %}
                    <td>
                <center><b>{{ phone.name }} <br>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                     {% for phone in phones %}
                    <td>
                <img src="{{ phone.image }}"><br>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                     {% for phone in phones %}
                    <td>
                Стоимость - {{ phone.price }} <br>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                     {% for phone in phones %}
                    <td>
                Дата релиза - {{ phone.release_date }} <br><br>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td></td>
                </tr>
        </div>
    </div>
{% endblock %}